<hr>
<br>
<%- list_categories({depth: 1}) %>

<!-- Count tags and categories -->
<p id="count">
    <%= __('tag_cloud.already') %><span><script>document.write($(".category-list-item").length)</script></span><%= __('tag_cloud.categories') %>
    <%= __('tag_cloud.total') %><span><script>document.write($("#tags > a").length)</script></span><%= __('tag_cloud.tags') %>
</p>
<script>
    $('#count').appendTo('.count');
</script> 

<% if(theme.tagcanvas) { %>
    <div class="tags" id="myTags">
    <canvas width="350" height="350" id="my3DTags">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
    </canvas>
    </div>
    <script src="/js/tagcanvas.min.js" type="text/javascript"></script>
<% } %>

<div class="tags" id="tags">
    <% var rdColor = ['#0475a1', '#9071C8', '#CE4DD3', '#F26E58', '#4DC1D3', '#F0575B', '#3dab34' ]; %>
    <%- tagcloud({
        min_font: 16, 
        max_font: 35, 
        amount: 999, 
        color: true, 
        start_color: rdColor[Math.floor( Math.random() * (rdColor.length - 1) )], 
        end_color: rdColor[Math.floor( Math.random() * (rdColor.length - 1) )],
    }) %>
</div>
<style>
    .category-list li{
        display: inline-block;
        margin: 0 1em .5em 0;
        padding: 4px;
        border: 1px solid lightgray;
        font-size: 1.2rem;
    }
    .category-list-item {
        color: #0475a1;
        background: rgba(64, 148, 199, 0.5);
        box-shadow: 0 2px 5px 0 rgba(0,183,253,.16), 0 2px 10px 0 rgba(0,183,253,.12);
    }
    li.category-list-item:hover {
        background: rgba(64, 148, 199, 0.5);
        box-shadow: 0 4px 5px 0 rgba(0,183,253,.3), 0 4px 10px 0 rgba(0,183,253,.5);
    }
    li.category-list-item:hover a.category-list-link {
        color: #0475a1;
        text-decoration: none;
    }
    .category-list-count {
        margin-left: 2px;
        font-size: .9rem;
    }
    .article-entry ul li:before{ display: none; }
    .article-inner { text-align: center; }
    .tags {
        max-width: 42em;
        margin: 2em auto;
        margin-top: 0em;
    }
    .tags a {
        margin-right: 1em;
        line-height: 65px;
        border-bottom: 1px solid gray;
        white-space: nowrap;
        transition: border-bottom .5s;
    }
    .tags a:hover {
        border-bottom: 3px dotted gray;
        text-decoration: none;
    }
    #count > span {
        margin: auto .2em;
        font-weight: bold;
    }
    #myTags {
        background: rgba(70, 151, 241, 0.3);
    }
</style>




<% if(theme.tagcanvas) { %>
    <script type="text/javascript">
        window.onload = function() {
            try {
                TagCanvas.Start('my3DTags','tags',{
                maxSpeed: 0.05,
                decel: 1,
                minBrightness: 0.4,
                depth: 0.5,
                textFont: null,
                textColour: null,
                outlineColour: '#4697F1',
                freezeActive: true,
                frontSelect: true,
                shadow: 'rgba(0, 0, 0, 0.2)',
                shadowBlur: 1,
                shadowOffset: [0, 1],
                shuffleTags: true,
                weight: true,
                reverse: true, 
                weight: true
                });
            } catch(e) {
                // something went wrong, hide the canvas container
                document.getElementById('myTags').style.display = 'none';
            }
        };
    </script>
<% } %>


